# -------------------
# Python
# -------------------
__pycache__/
*.py[cod]
venv/
.venv/
build/
dist/

# Ignore environment files with secrets
.env
*.env

# -------------------
# IDE / Editor
# -------------------
.vscode/
.idea/
*.swp

# -------------------
# Mac / Windows
# -------------------
.DS_Store
Thumbs.db
